<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>"ควยมิน"</title>
    </head>
    <body>
        {{>header}}
        <h1 style="font-size: 1000%;">ควยมิน</h1>

        {{>footer}}
    </body>
</html>